.container  {
	max-width: 100%!important;
}

.row {
	margin-top: -1px;
	border: 1px solid #ccc;
	display: table;
}
.field{
	padding: 5px 0;
}
.resizable{
}
green, .green{
	color: green;
	font-weight: bold;
}
.fieldTable{
	display: inline-block;
	margin: 0 auto;
}

.tableHeaders {
	border-bottom: 2px solid;
}
.submit {
	display: block;
	text-align: center;
}
.addAnother span {
	cursor: pointer;
	border-radius: 10px;
}

.hideable{
	display: none;
}

.tableButtons{
}

.duplicator, .copier{
	width: 50px;
	margin: 0 auto 0px;
}
.fieldrow{
	/* display: table; */
}
.fieldrow{
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	border-bottom-color: rgb(51, 51, 51);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: rgb(51, 51, 51);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(51, 51, 51);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(51, 51, 51);
	border-top-style: none;
	border-top-width: 0px;
	bottom: auto;
	clear: none;
	clip: auto;
	color: rgb(51, 51, 51);
	cursor: auto;
	direction: ltr;
	display: table-cell;
	float: left;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	height: 39px;
	left: auto;
	letter-spacing: 0;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: disc;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	position: relative;
	right: auto;
	text-align: start;
	top: auto;
	visibility: visible;
	width: 182px;
	word-spacing: 0px;
}

.tableButtons > div{
	text-align: center;
	background-color: #ddd;
	cursor: pointer;
	border-radius: 10px;
}
.tableButtons div:hover, .hover:hover{
	background-color: #fafafa;
}

.fieldInputs{
	padding: 10px;
	border: 1px solid #999;
	border-radius: 10px;
}

.required{
	border: 1px solid!important;
	border-color: #F00!important;
	border-width: 2px;
	border-radius: 5px;
}	
.numberRequired{
	border: 1px solid!important;
	border-color: #F00!important;
	border-width: 2px;
	border-radius: 5px;
}
.required:after{
	color: #F00;
	padding: 10px 0px;
	width: 160px;
	float: right;
	font-size: 12px;
	position: absolute;
}
.required:not([type=number]):after, .required:not([type=email]):after{
	content: " *required";
}

.required[type=number]:after {
	content: " *must be a number";
}
.required[type=email]:after {
	content: " *must be an email address";
}

.jumbotron input , .jumbotron select {
	text-align: center;
	height: 35px!important;
	line-height: 29px!important;
}
.jumbotron input.empty , .jumbotron select option[disabled]{
	color: #ccc;
}

/*
* default below
*/

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
